# MQTT Configuration
# Wird von ALLEN Services verwendet, um die Verbindung zum MQTT-Broker zu konfigurieren.
MQTT_BROKER_URL=mosquitto
MQTT_BROKER_PORT_WS=9001
MQTT_BROKER_PORT_TCP=1883
MQTT_USERNAME=DEIN_MQTT_USER
MQTT_PASSWORD=DEIN_MQTT_PASSWORT
MQTT_MESSAGE_PREFIX=${MQTT_USERNAME}/

# Database Configuration
# Konfiguriert die Datenbankverbindung fuer den java-backend Service.
DB_USER=DEIN_DB_USER
DB_PASSWORD=DEIN_DB_PASSWORT
DB_ROOT_PASSWORD=DEIN_DB_ROOT_PASSWORT
DB_NAME=game
DB_HOST=mariadb
DB_PORT=3306
